<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mib.converter.mapper.FileMapper">
    <select id="select" resultType="com.mib.converter.entity.SysFile">
        select
            id,
            user_id userId
        from tb_file
    </select>
</mapper>
